# .gitignore for Potext
#
# Chris Ahlstrom
# Updates: 2024-03-21 to 2026-05-23

build/
.cache
core
tags
TAGS
*.log
*.t
*.tmp
tmp/
/subprojects/*
!/subprojects/*.wrap

# vim: sw=4 ts=4 wm=4 et ft=gitignore
